<nav class=" pt-5 lg:pt-10 lg:ml-5 flex justify-center text-l md:text-xl md:justify-start lg:text-2xl font-semibold text-white">
    <a routerLink="/home" routerLinkActive="active" class="mx-4 lg:mx-8 hover:scale-105 hover:translate-y-[-5px]"> Home </a>
    <a routerLink="/projects" routerLinkActive="active" class="mx-4 lg:mx-8 hover:scale-105 hover:translate-y-[-5px]" > Projects </a>
    <a routerLink="/blogs" routerLinkActive="active" class="mx-4 lg:mx-8 hover:scale-105 hover:translate-y-[-5px]"> Blogs</a>
    <a routerLink="/contact" routerLinkActive="active" class="mx-4 lg:mx-8 hover:scale-105 hover:translate-y-[-5px]"> Contact</a>
</nav>
