<body class="overflow-x-clip">
    <div class=" bg-primary h-100 lg:h-110">
    <div class=" ml-10 mr-10  h-137 lg:h-147 ">
        <app-header class=" sm: mx-auto text-shadow relative z-10"></app-header>
        <div class="relative">
            <div class="absolute left-[180px] lg:left-1/4 top-[-403px] lg:top-[-430px] w-192 h-144 lg:h-156 bg-secondary transform rotate-140 shadow-2xl animate-fly-in"></div>
        </div>    
        <div class="h-55 lg:h-50"></div>
        <div class="relative z-10 flex flex-col items-center md:flex-row justify-center w-full lg:ml-[-30px]">
            <div>
                <img alt="profile picture" src="./assets/323641937_1877444795937399_6225257801839810027_n.jpg"
                class="w-60 lg:w-80 h-60 lg:h-80 rounded-full mt-2 mx-7 lg:mx-20 shadow-3xl">
            </div>     
            <div class=" mt-10 lg:mt-6 lg:mx-10 lg:w-200 mx-3 animate-slide-in-right delay-1000 items-center">
                <div class="text-white block text-4xl lg:text-6xl font-bold mb-5 lg:mb-10 font-instrument-sans text-shadow"> Hello! <br>I am Chann Myae Zaw</div>
                <div class="mt-10 lg:text-xl break-words"> A Data Analysis with a passion for numbers <br><br>I am a software engineering graduate of Myanamr nationality, currently residing in Thailand for educational purposes. I am 22 years of age. I speak Burmese, English and Korean fluently and currently learning Thai.
                I like to sing, play badminton and physics!
                </div>
            </div>        
        </div> 
    </div>
</div>
<div class="bg-neutral h-130 lg:h-110" ></div>
<div class=" relative bg-secondary h-210 lg:h-140">
    <div class="absolute top-10 left-0 w-full h-190 lg:h-120 bg-white opacity-35 z-1 lg:z-0"></div>
    <div data-aos="slide-left" class="absolute top-0 right-0 w-100 h-210 lg:h-full bg-primary clip-trapezium"></div>
    <div class="relative text-4xl lg:text-5xl mx-13 pt-15 lg:pt-20 z-10 text-shadow">Education</div>
    <div class="relative flex flex-col lg:flex-row-reverse mx-18 z-10">    
        <img src="./assets/university.png" class=" mx-auto mt-10 w-auto rounded-xl">
        <div class=" pt-8 lg:pr-15 lg:text-xl text-justify">           I attended Mae Fah Luang University, also known as the 'University in the Garden,' situated in Chiang Rai, near the border with Myanmar, in the northernmost part of Thailand. As the name suggests, it is a truly beautiful university surrounded by stunning nature.
            <br><br>     My educational journey there was eye-opening, challenging my skills and resilience while helping me grow as a person. Academically, I also gave my best for every course. Throughout the study, I took extra courses that interest me and maintained good grades every semester because I consider education and knowledge as a fundamental part of life.
            <br><br> 
            GPAX : 3.98
        </div>
    </div>
</div>
<div data-aos="fade-up" class="lg:text-xl mx-17 mt-20 text-justify"> I aspire to engage in researhes and data analysis in the fields of natural science. So, I have learnt various skills that I need for that from coding languages and libraires of python to other knowledges of maths, physics etc. So I am especially good in concepts, problem solving and applying coding skills to look for meaningful stories from data and finding solutions</div>

<div class="relative w-full mt-20">
    <div data-aos="slide-right"class="absolute top-5 bg-primary h-30 lg:h-50 w-3/8 trapezium2"></div>
    <div data-aos="slide-left"class="w-fit mx-auto my-15 pl-40">

        <div class="text-4xl lg:text-5xl mx-auto text-shadow"> Technical Skills</div>
        <ul class="list-disc pl-5 lg:text-xl mt-5">
            <li>Angular, React Framework, Flutter</li>
            <li>Firebase, Strapi backend</li>
            <li>Software Design and Architecture</li>
            <li>AI integration</li>
        </ul>
    </div>
    <div class="h-20"> </div>
    <div data-aos="slide-left" class="absolute right-0 bottom-0 bg-secondary h-30 lg:h-50 w-3/8 trapezium3"></div>
    <div data-aos="slide-right" class="w-fit ml-20">
        
        <div class="text-4xl lg:text-5xl text-shadow"> Soft Skills</div>
        <ul class="list-disc pl-5 lg:text-xl mt-5">
            <li>Fast Learner</li>
            <li>Communication and Listening, Teamwork</li>
            <li>Mathematical knowledge and understanding</li>
            <li>Problem Solving</li>
        </ul>
    </div>
</div>
<div class="lg:flex lg:flex-row h-auto mt-30">
    <div class="bg-secondary mt-5 pt-5 lg:w-1/4">
        <div class="text-4xl"> Experience</div>
        <div> Experience ma shi pr buu byr</div>
    </div>
    <div class="bg-primary pt-5 lg:pt-0 lg:mt-5 lg:w-3/4">
        <div class="text-4xl lg:mt-5"> Projects Brief</div>
        <div> Experience ma shi pr buu byr </div>
    </div>
</div>
<div class = "h-15"></div>
<div class="flex justify-between">
    <div data-aos="slide-right" class="lg:py-10 py-7.5">
        <div class="bg-primary lg:h-6 lg:w-40 h-3 w-20"></div>
        <div class = "lg:h-6 h-3"></div>
        <div class="bg-secondary lg:h-6 h-3 lg:w-70 w-35"></div>
        <div class = "h-3"></div>
        <div class="bg-primary lg:h-6 h-3 lg:w-100 w-50"></div>
    </div>
        <a routerLink="/projects" routerLinkActive="active" data-aos="zoom-in" data-aos-delay="450"class="relative lg:w-50 w-32 lg:h-50 h-32 block z-10">
            <div class="bg-accent lg:h-50 lg:w-50 w-32 h-32 rounded-full shadow-2xl"></div>
            <div class="absolute inset-0 flex items-center justify-center text-white text-center lg:text-3xl text-2xl text-shadow">
                Check Out My Projects
            </div>
        </a>
    <div data-aos="slide-left"class="flex flex-col items-end lg:py-10 py-7.5">
        <div class="bg-secondary lg:h-6 h-3 lg:w-100 w-50"></div>
        <div class="h-3"></div>
        <div class="bg-primary lg:h-6 h-3 lg:w-70 w-35"></div>
        <div class="h-3"></div>
        <div class="bg-secondary lg:h-6 h-3 lg:w-40 w-20"></div>
    </div>
</div>
</body>



