<body class="overflow-x-clip">
    <div class=" bg-primary h-100 lg:h-110">       
        <app-header class=" sm: mx-auto text-shadow relative z-10"></app-header>
        <div class="h-30"></div>
        <div class="w-full text-7xl lg:text-8xl text-center text-white text-shadow relative z-10"> 
        Projects
        </div>
        <div data-aos="zoom-in"  class="absolute h-125 w-125 lg:h-135 lg:w-135 bg-secondary rounded-full top-[-100px] left-[-200px] shadow-xl"></div>
        <div data-aos="zoom-in" data-aos-delay="400" class="h-80 lg:h-100 w-80 lg:w-100 bg-secondary absolute right-[-140px] lg:right-[-160px] rounded-full top-[-140px] lg:top-[-160px] shadow-xl z-"></div>
    </div>
    <div class="h-15"></div>
    <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-6 mx-10 lg:mx:15">
        <app-project-card
            *ngFor="let project of projects"
            [title]="project.title"
            [description]="project.description"
            [techStack] = "project.techStack"
            [imageUrl]="project.imageUrl"
            [link]="project.link"
        ></app-project-card>
    </div>

</body>